<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>
<body>
    <h1>Cadastre uma nova musica</h1>
    <form action="/create" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" placeholder="Nome">

        <label for="author">Autor:</label>
        <input type="text" name="author" id="author" placeholder="Autor">

        <label for="linkImage">Link da imagem:</label>
        <input type="text" name="linkImage" id="linkImage" placeholder="Link da Image">

        <label for=" linkMusic">Link da Musica:</label>
        <input type="text" name=" linkMusic" id=" linkMusic" placeholder="link da Music">
        
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>